<div class="row">
  <div class="col-md-6 col-lg-6 mb-3">
    <h1>NFT #1: The Life Cycle of a Mushroom</h1>
    <video class="col-12" controls="" loop="">
      <source src="assets/oikanft1.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <h2>by Rita Leduc</h2>
    <h2>
      Ecology Extended: Hubbard Brook Experimental Forest White Mountains, NH
    </h2>
    <h3>
      <!--external website open new window-->
      <a href="https://www.ritaleduc.com/site-hubbard-brook-experimental-forest">Project Website</a>
    </h3>
    <h3>NFT Asset Types Available: Video, Painting</h3>
    <mat-divider></mat-divider>
    <div><br/><br/></div>
    <app-nft-price></app-nft-price>
    <div><br/><br/></div>
    <div>
      <h3>Wallet distributions</h3>
      <table style="width:100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Artist Column -->
        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef> Artist </th>
          <td mat-cell *matCellDef="let item"> {{item.artist}} </td>
        </ng-container>

        <!-- Habitat Column -->
        <ng-container matColumnDef="habitat">
          <th mat-header-cell *matHeaderCellDef> Habitat </th>
          <td mat-cell *matCellDef="let item"> {{item.habitat}} </td>
        </ng-container>

        <!-- Oika Column -->
        <ng-container matColumnDef="oika">
          <th mat-header-cell *matHeaderCellDef> Oika </th>
          <td mat-cell *matCellDef="let item"> {{item.oika}} </td>
        </ng-container>

        <!-- Start Price Column -->
        <ng-container matColumnDef="startprice">
          <th mat-header-cell *matHeaderCellDef> Start Price </th>
          <td mat-cell *matCellDef="let item"> {{item.startprice}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 mb-3">
    <div class="row justify-content-end">
      <div class="col-3">
        <button mat-raised-button color="accent">Add Soil Data</button>
      </div>
    </div>
    <app-ecological-state-chart></app-ecological-state-chart>
    <br /><br />
    <div class="row justify-content-end">
      <div class="col-3">
        <button mat-raised-button color="accent">Add Image</button>
      </div>
      <br /><br /><br />
    </div>
    <img class="col-12" src="assets/IMG_1329.jpg" alt="" />
    Lindsey and Rich, giddy over the dance of a horsehair worm in the water
  </div>
</div>
<div *ngIf="contract$ | async as contract">
  Contract
  creator: {{contract.creator}}
  address: {{contract.address}}
  codeId: {{contract.codeId}}
  admin: {{contract.admin}}
  label: {{contract.label}}
  ibcPortId: {{contract.ibcPortId}}
</div>

<div *ngIf="token$ | async as token">
  Token {{token}}

</div>


